@page
@model Planer1.Pages.Remin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить напоминание</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reminder.Day)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reminder.Day)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reminder.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reminder.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reminder.IdStageNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reminder.IdStageNavigation.IdStage)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reminder.IdReminder" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться</a>
    </form>
</div>
