@page
@model Planer1.Pages.Pur.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить цель</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose.IdSectorNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose.IdSectorNavigation.IdSector)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Purpose.IdPurpose" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться</a>
    </form>
</div>
