@page
@model Planer1.Pages.Circle.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить сферу жизни</h1>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Circleoflife.Namesector)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Circleoflife.Namesector)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Circleoflife.Fullness)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Circleoflife.Fullness)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Circleoflife.IdUsersNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Circleoflife.IdUsersNavigation.IdUsers)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Circleoflife.IdSector" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Bернуться</a>
    </form>
</div>
